#view-splash {
  background: linear-gradient(to bottom right,#5A0062, #C90881);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#view-splash > div > img {
  width: auto;
  height: auto;
  max-width: 752.22px;
  max-height: 532.98px;
}

#view-splash > div {
  width: 80%;
}
